<p>Automatically replace vanilla forge bellows with animated bellows with sound. Compatible with everything.</p>
<p class="bold center">Requires OpenMW 0.49 or newer and <a href="https://www.nexusmods.com/morrowind/mods/46738">HD Forge</a>!</p>
<div class="center"><img src="/img/hd-forge-for-openmw-lua.gif" title="A short gif of the mod in action" /></div>
<h4 id="credits">Credits:</h4>
<p>
  <strong><a href="https://www.nexusmods.com/morrowind/mods/46738">HD Forge</a> was created by</strong> Pherim
</p>
<p>
  <strong>OpenMW-Lua script by:</strong>
</p>
<ul>
  <li>
    johnnyhostile
  </li>
  <li>
    zackhasacat
  </li>
  <li>
    ezze
  </li>
  <li>
    Ronik
  </li>
</ul>
<h4 id="install">Installation:</h4>
<ol>
  <li>
    <p>
      Download the mod from <a href="https://modding-openmw.gitlab.io/hd-forge-for-openmw-lua/">this URL</a>
    </p>
  </li>
  <li>
    <p>
      Extract the zip to a location of your choosing, examples below:
    </p>
    <pre><code> # Windows
 C:\games\OpenMWMods\ObjectsClutter\hd-forge-for-openmw-lua

 # Linux
 /home/username/games/OpenMWMods/ObjectsClutter/hd-forge-for-openmw-lua

 # macOS
 /Users/username/games/OpenMWMods/ObjectsClutter/hd-forge-for-openmw-lua
    </code></pre>
  </li>
  <li>
    <p>
      Add the appropriate data path to your <code>opemw.cfg</code> file (e.g. <code>data="C:\games\OpenMWMods\ObjectsClutter\hd-forge-for-openmw-lua"</code>)
    </p>
  </li>
  <li>
    <p>
      Add <code>content=PherimAnimatedBellowsSounds.omwaddon</code> and <code>content=HD Forge.omwscripts</code> to your load order in <code>openmw.cfg</code> or enable it via OpenMW-Launcher
    </p>
  </li>
</ol>
